.guideLayout {
    height: 100%;
    overflow-y: hidden;
    width: 90%;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
}

.guideSearch {
    width: 40%;
    align-self: center;
    padding: 5px;
    margin-bottom: 20px;
}

.guideCard {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    /* text-align: left; */
    /* height: 220px; */
}

.GuideCardTitle {
    font-family: 'Poppins', sans-serif;

}

@media screen and (max-width: 480px) {
    .guideSearch {
        width: 90%;
    }

}